$bodyBgColor:#f1f5f7;
$navbarColor_start:#1d7cf2;
$navbarColor_end:#1ac0fb ;
$firstMenuBgColor:#fff;
$secondMenuBgColor:#f9f9f9;
$thirdMenuBgColor:#efefef;
$firstChooseColor:#399ff2;
$searchResultLineColor:#9ccff8;
$mainColor:#399ff2;
$btnColor:#f6b412;
$fontColor:#ffc333;
$searchRightBorder:#e4e4e4;
$ff6600:#ff6600;
$labelStyle:#fdecc8;

